*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Mulish Variable', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(248 250 252);
  height: 100vh;

  .Grass, .grass{
    background-color: #55c96a;
    background-size: cover;
    height: 100%;
  }
  .type-grass{
    background-color: #65e77d;
  }
  .Poison, .poison{
    background-color: #844bda;
    background-size: cover;
    height: 100%;
  }
  .type-poison{
    background-color: #9a6be0;
  }
  .Fire, .fire{
    background-color: #ff6565;
    background-size: cover;
    height: 100%;   
  }
  .type-fire{
    background-color: #FFA07A;
  }
  .Water, .water{
    background: #87cefa;
    background-size: cover;
    height: 100%;   
  }
  .type-water{
    background-color: #84b6f4;
  }
  .Bug, .bug{
    background: #c5d084;
    background-size: cover;
    height: 100%;
  }
  .type-bug{
    background-color: #a0d995;
  }
  .Normal, .normal{
    background: #b4b468 ;
    background-size: cover;
    height: 100%;    
  }
  .type-normal{
    background-color: #A8A878 ;
  }
  .Flying, .flying{
    background: #87CEFA;
    background-size: cover;
    height: 100%;     
  }
  .type-flying{
    background: #a0d2f3;
  }
  .Dark, .dark{
    background: black;
    background-size: cover;
    height: 100%;   
  }
  .type-dark{
    background: black;
  }
  .Electric, .electric{
    background: #ffd901;
    background-size: cover;
    height: 100%;    
  }
  .type-electric{
    background: #ffe23b;
  }
  .Ice, .ice{
    background: #87CEFA;
    background-size: cover;
    height: 100%;    
  }
  .type-ice{
    background: #AFEEEE;
  }
  .Steel, .steel{
    background: #B8B8D0;
    background-size: cover;
    height: 100%;    
  }
  .type-steel{
    background: #cfcecf;
  }
  .Ground, .ground{
    background: #bd8a58;
    background-size: cover;
    height: 100%;     
  }
  .type-ground{
    background: #cba075;
  }
  .Fairy, .fairy{
    background: #f3adc5;
    background-size: cover;
    height: 100%;      
  }
  .type-fairy{
    background: #FFB6C1;
  }
  .Fighting, .fighting{
    background: #e2504c;
    background-size: cover;
    height: 100%;     
  }
  .type-fighting{
    background: #fa5f49;
  }
  .Psychic, .psychic{
    background: #eb4e63;
    background-size: cover;
    height: 100%;   
  }
  .type-psychic{
    background: #f47e8e;
  }
  .Rock, .rock{
    background:  #bf9780;
    background-size: cover;
    height: 100%;      
  }
  .type-rock{
    background: #a68069;
  }
  .Ghost,.ghost{
    background: #7b3685;
    background-size: cover;
    height: 100%;     
  }
  .type-ghost{
    background: #9755a0;
  }
  .Dragon, .dragon{
    background: #229599 ;
    background-size: cover;
    height: 100%;      
  }
  .type-dragon{
    background: #39adb1;
  }
}

